* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.centrar {
    text-align: center;
}

.margintop {
    padding-top: 80px;
}

.contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.contenedor figure {
    position: relative;
    height: 250px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    cursor: pointer;
}

.contenedor figure img {
    width: 100%;
    height: 100%;
    transition: all 250ms ease-out;
}

.contenedor figure:hover>a img {
    transform: scale(1.09);
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.imgtop {
    vertical-align: text-top;
}

.container h1 {
    font-size: 100px;
}

.breadcrumb {
    margin: 0.75em 1em 0.25em 1em;
}
.categorias{
    text-align: left;
    display: inline-block;
    width: -94%;
    width: calc(100% - 1em);
    max-width: 250px;
    vertical-align: top;
    line-height: 1.2;
    border: 1px solid gray;
    border-radius: 2px;
    margin: 0 1em 25px 0;
    padding: 0 0 30px 16px;
}
.categorias-home{
    padding: 0 0 30px 16px;
}
.titulo{
    text-decoration: none;
    color: black;
    font-size: 25px;
}
.fix{
    text-decoration: none;
}
ul{
    list-style: none;
    text-align: left;
}
.categorias-home .categorias .sub-categorias a {
    font-size: 20px;
    line-height: 1.2;
    display: inline-block;
    margin: 0 0 0.25em 0.75em;
    text-align: left;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.hubicoin{
    border: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0 .15em 0 0;
    background-image: url(../imagenes/a.png);
    background-repeat: no-repeat;
}
.hubicoin.xl{
    width: 35px;
    height: 35px;
    background-size: 70px;
}
.titulo-receta{
    font-size: 1.5em;
    line-height: 1.2;
    font-weight: 600;
    padding: 0 0.5em 0 0.5em;
    margin: 0.2em 0 0.25em 0;
    color: #333;
    display: block;
}
.info_articulo {
    font-size: .8em;
    position: relative;
    margin: 0.25em 1em 0 1em;
}
.info_articulo .autor {
    position: relative;
    padding: 0.5em 0 0 30px;
}
.info_articulo .img_autor {
    border-radius: 50%;
    background-color: #cff3f0;
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 25px;
    height: 25px;
    top: 0.25em;
    margin: 0!important;
    z-index: 2;
}
.info_articulo .img_autor img {
    width: 100%;
    display: block;
    margin: 0!important;
}
article .intro {
    overflow: hidden;
    width: 100%;
}
.sub-contenedor{
    margin: 0;
}
